body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #282c34;
  background-color: #fdfdfd;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4.2em;
  text-shadow: 3px 3px #5971a0;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}

a {
  color: inherit;
}

a:hover {
  color: #5971a0;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 0 10px 0 10px;
  margin: auto;
}

#container > * {
  margin: 10px 0 10px 0;
}

#header {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

#header button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

#header button:hover {
  color: #5971a0;
}

#image {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  animation: shake 0.5s;
}

#footer {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 0.8em;
  margin: 60px 0 40px 0;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
